ENV=dev
DB_LOCAL="mongodb://localhost:27017"
DB_URL="urlmongo"

JWT_ACCESS_TOKEN_EXP=600000
JWT_REFRESH_TOKEN_EXP=3600000
JWT_TOKEN_SECRET=default

SEND_EMAIL = email
SEND_PWD = mdp

STRIPE_SECRET_KEY= default
STRIPE_PUBLIC_KEY= default